@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

input {
	appearance: none;
	outline: none;
	border: none;
	background: #EEE;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
    margin-left: 1rem;
}

button, a {
	appearance: none;
	outline: none;
	border: none;
	background: none;
    margin-top: 1rem;
    margin-bottom: .5rem;
	cursor: pointer;
	color: #ffffff;
    background: #01ff34a0;
    padding: .5rem;
    border-radius: 10px;
	font-size: 1.5rem;
	text-decoration: none;
}

button:hover,
a:hover{
    background: #01ff33;
    color: black;
    box-shadow: 0px 10px 30px rgba(26, 207, 16, 0.5);
}

.App-header {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(205, 205, 205);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(93deg, #2bcb4b 0%, #050505 100%);
    height: 80px;
    border-bottom: 1px solid white;
}

.title{
    color: #01ff33;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

.header-description{
    max-width: 380px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    margin-bottom: 5rem;
    background: linear-gradient(93deg, #2bcb4b 0%, #050505 100%);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 30px 2px rgba(254, 254, 254, 0.5);
}

.description{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}


